body{
    font-family: Georgia, 'Times New Roman', Times, serif;

    background-color: #afabab;
}

.container{
    width: 750px;
    height: 700px;

    background-color: rgb(62, 137, 167);
    
    margin: 200px auto;
}

h1, h2, label, input, button{
    margin-left: 24px;

    padding: 16px;
}

input, button{
    border-radius: 24px;
}

label{
    font-size: 20px;
}

h1{
    font-size: 40px;
}

.permissao{
    margin-top: 60px;
}

.convite{
    margin-top: 50px;
}

.click-botao{
    background-color: rgb(68, 158, 68);
}

.click-recusado{
    background-color: rgb(226, 21, 21);
}